# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.classpath

.metadata/.lock

.metadata/.mylyn/.taskListIndex/segments_1

.metadata/.mylyn/.taskListIndex/segments.gen

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version

.metadata/.plugins/org.eclipse.core.resources/.root/1.tree

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

.metadata/.plugins/org.eclipse.jdt.launching/.install.xml

.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml

.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml

.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-qi836dn_32611/FP.local.files_0/node.properties

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-qi836dn_32611/H.local_16/node.properties

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.desktop-qi836dn_32611/node.properties

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml

.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties

.metadata/version.ini

.project
